@import "../css/normalize";
@import "../../node_modules/bootstrap/scss/bootstrap"; // Bootstrap lib importing
@import url('https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css');
@import url('https://fonts.googleapis.com/css?family=Cardo|Open+Sans|Raleway&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
}

.no-padding {
	padding: 0;
}

.Button-primary {
	display: inline-block;
	padding: 15px 50px;
	background-color: #E84545;
	color: #fff;
	text-align: center;
	font-family: Raleway;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		opacity: .8;
		color: #fff;
	}
}

.SocialButtons {
	display: flex;

	> a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border: 1px solid #E8ECEE;
		transition: all .2s ease-out;

		&:hover {
			border-color: #E84545;
			background-color: #E84545;
			color: #fff;
		}

		&:not(:first-child) {
			margin-left: 2px;
		}
	}
}

.mobile-menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .6);
	box-shadow: inset 0px 0px 10px 1px rgba(232, 69, 69, .5);

	> ul#mobile-menuList {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;

		> li {
			> a {
				color: #E84545;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 20px;
				text-decoration: none;

				&:active {
					color: #fff;
				}
			}
		}
	}

	> #menu-close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 5%;
		height: 5%;
		background-image: url(../../img/close.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	height: 103px;
    position: absolute;
	top: 0;
    left: 50%;
    transform: translate(-50%, 0);

	nav {
		display: flex;
		align-items: center;

		#menuButton {
			margin-right: 15px;

			svg .fill {
				background-color: #fff;
			}

			@media (min-width: 767px) {
				display: none;
			}

			> img {
				width: 32px;
				height: 32px;
			}
		}

		> ul.nav-list {
			margin: 0;
			padding: 0;
			list-style-type: none;

			@media (max-width: 767px) {
				display: none;
			}

			> li.nav-list__item {
				float: left;
				margin-left: 29px;

				&:first-child {
					margin-left: 0;
				}

				> a.nav-list__link {
					color: #fff;
					font-weight: 600;
					font-family: Raleway;
					font-style: normal;
					font-size: 13px;

					&:hover {
						text-decoration: none;
						color: #E84545;
					}
				}
			}
		}
	}

}

main {
	section.hero-image {
		width: 100%;
		min-height: 475px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;	
		background-image: url(../../img/headerBg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		> .hero-image__content {
			width: 90%;
			padding-top: 5.6vh;
			text-align: center;

			> .hero-image__title {
				color: white;
				font-family: Open Sans;
				font-style: normal;
				font-weight: bold;

				@media (min-width: 320px) {
					font-size: 25px;
					line-height: 34px;
				}
				@media (min-width: 485px) {
					font-size: 39px;
					line-height: 45px;
				}
				@media (min-width: 810px) {
					font-size: 65px;
					line-height: 71px;
				}
			}

			> .hero-image__subtitle {
				margin-top: 20px;
				font-family: Raleway;
				font-style: normal;
				font-weight: normal;
				color: white;
				max-width: 950px;
				margin: 0 auto;

				@media (min-width: 320px) {
					font-size: 16px;
					line-height: 25px;
				}
				@media (min-width: 450px) {
					font-size: 19px;
					line-height: 29px;
				}
				@media (min-width: 725px) {
					font-size: 22px;
					line-height: 33px;
				}

				@media (max-width: 525px) {
					margin-top: 25px;
				}
			}

			> a.hero-image__button {
				@extend .Button-primary;

				@media (min-width: 320px) {
					margin-top: 50px;
				}
				@media (min-width: 450px) {
					margin-top: 60px;
				}
				@media (min-width: 725px) {
					margin-top: 75.7px;
				}
			}
		}
	}

	section#features {

		@media (min-width: 320px) {
			padding: 20px 0;
		}

		@media (min-width: 500px) {
			padding: 40px 0;
		}

		@media (min-width: 725px) {
			padding: 60px 0;
		}
		@media (min-width: 900px) {
			padding: 90px 0;
		}

		.features-set {
			display: flex;
			flex-wrap: wrap;

			> .features-set__feature {
				text-align: center;
				padding: 32px;

				@media (min-width: 320px) {
					padding: 10px;
				}

				@media (min-width: 500px) {
					padding: 20px;
				}

				@media (min-width: 725px) {
					padding: 32px;
				}

				> .feature__icon {

				}

				> .feature__title {
					margin-top: 30px;
					text-transform: uppercase;
					font-family: Raleway;
					font-weight: 600;
					font-size: 14px;
				}

				> .feature__description {
					margin-top: 7.5px;
					font-family: Raleway;
					font-size: 14px;
					line-height: 21px;
				}
			}
		}
	}

	section#works {

		.works__row {
			justify-content: space-between;

			&:not(:first-child) {
				margin-top: 1px;
			}

			> .works__work-block {
				position: relative;
				padding: 0;

				@media (max-width: 991px) {
					flex: 0 0 calc(50% - 0.5px);
				}

				@media (min-width: 992px) {
					flex: 0 0 calc(25% - 1px);
				}

				> img {
					width: 100%;
					height: 100%;
				}

				> .hoverLayer {
					position: absolute;
					display: none;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(232, 69, 69, 0.9);

					> .hoverLayer__title {
						font-weight: 600;
						text-transform: uppercase;
					}

					> .hoverLayer__subtitle {
						margin-top: 12px;
					}
				}

				> .hoverLayer__title, .hoverLayer__subtitle {
					display: none;
				}

				&:hover {
					> .hoverLayer {
						display: flex;
						
						> .hoverLayer__title, .hoverLayer__subtitle {
							display: block;
							font-family: Raleway;
							font-size: 14px;
							color: white;
						}

					}
				}
			}
		}
	}

	section#team {
		display: flex;
		padding: 75px 0;
		justify-content: space-between;


		@media (max-width: 575px) {
			padding: 30px 0;
		}
		
		.team-member {
			padding-top: 25px;
			padding-bottom: 25px;

			> .team-member__photo {
				width: 100%;
				margin: 0;

				> img {
					width: 100%;
					height: 100%;
				}

				@media (max-width: 575px) {
					width: 65%;
	    			margin: 0 auto;
				}
			}

			> .team-member__name {
				margin-top: 20px;
				font-family: Raleway;
				font-size: 22px;
				text-align: left;

				@media (max-width: 575px) {
					text-align: center;
				}
			}

			> .team-member__position {
				margin-top: 10px;
				font-family: Raleway;
				font-size: 13px;
				color: #E84545;
				text-align: left;

				@media (max-width: 575px) {
					text-align: center;
				}
			}

			> .team-member__description {
				margin-top: 30px;
				font-family: Raleway;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;

				
				@media (max-width: 575px) {
					width: 75%;
	    			margin: 0 auto;
				}
			}

			> .team-member__socialButtons {
				@extend .SocialButtons;

				margin-top: 38.5px;


				@media (max-width: 575px) {
					width: 35%;
					justify-content: space-between;
	    			margin: 15px auto 0 auto;
				}
			}
		}
	}

	section#testimonials {

		.container-fluid {
			padding: 0;
		}

		.slider {
			width: 100%;
			display: flex;

			> .slider-left, .slider-right {
				width: 50%;

				.slick-slide {
					display: flex;
				}
			}

			> .slider-left {

				.slick-dots {
					position: absolute;
					padding: 0;
					margin: 0;
					list-style-type: none;
				    bottom: 10px;
				    left: 50%;
				    transform: translateX(-50%);

					> li {
						float: left;
						margin-left: 5px;

						&:first-child {
							margin-left: 0;
						}

						> button {
							padding: 0;
							cursor: pointer;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							font-size: 0px;
							border: none;
							background-color: #fff;
							opacity: 0.2;
							outline: none;
						}

						&.slick-active {
							> button {
								opacity: 1;
							}
						}
					}

					@media (min-width: 769px) {
						display: none;
					}
				}

				.left-item {
					position: relative;
					height: 100%;

					> img {
						width: calc(100% + 3px);
						height: 100%;
					}

					.mobile___slider-item__description {
						position: absolute;
					    top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
					    display: flex;
					    flex-direction: column;
					    justify-content: center;
					    align-items: center;
					    background-color: rgba(0, 0, 0, .6);

					    > .slider-item__title, .slider-item__subtitle {
					    	width: 90%;
					    	color: #fff;
					    }

    					> .slider-item__title {
							font-family: Cardo;
							font-style: italic;
							max-width: 78%;

							@media (min-width: 320px) {
								font-size: 15px;
							}

							@media (min-width: 375px) {
								font-size: 17px;
							}
							
							@media (min-width: 425px) {
								font-size: 19px
							}
						}

						> .slider-item__subtitle {
							text-align: center;
							margin-top: 15px;
							font-family: Raleway;
							font-weight: 600;
							line-height: 21px;
							text-transform: uppercase;

							@media (min-width: 320px) {
								font-size: 10px;
							}

							@media (min-width: 375px) {
								font-size: 12px;
							}
							
							@media (min-width: 425px) {
								font-size: 14px;
							}
						}

					    @media (min-width: 769px) {
					    	display: none;
					    }
					}
				}

				@media (min-width: 320px) {
					width: 100%;
				}
				@media (min-width: 769px) {
					width: 50%;
				}
			}

			> .slider-right {
				background-color: #53354A;
				align-items: center;

				.slick-dots {
					position: absolute;
					left: 30%;
					padding: 0;
					margin: 0;
					list-style-type: none; 

					> li {
						float: left;
						margin-left: 5px;

						&:first-child {
							margin-left: 0;
						}

						> button {
							padding: 0;
							cursor: pointer;
							width: 15px;
							height: 15px;
							border-radius: 50%;
							font-size: 0px;
							border: none;
							background-color: #fff;
							opacity: 0.2;
							outline: none;
						}

						&.slick-active {
							> button {
								opacity: 1;
							}
						}
					}

					@media (min-width: 768px) {
						bottom: 5%;
					}
					@media (min-width: 1024px) {
						bottom: 12%;
					}
					@media (min-width: 1440px) {
						bottom: 15%;
					}
				}

				.item-right {
					padding: 0 10%;
					color: #fff;

					> .slider-item__title {
						font-family: Cardo;
						font-style: italic;
						max-width: 78%;

						@media (min-width: 768px) {
							font-size: 20px;
							max-width: 82%;
						}
						@media (min-width: 1024px) {
							font-size: 20px;
						}
						@media (min-width: 1440px) {
							font-size: 28px;
						}
						@media (min-width: 1640px) {
							font-size: 36px;
						}
					}

					> .slider-item__subtitle {
						margin-top: 45px;
						font-family: Raleway;
						font-weight: 600;
						font-size: 13px;
						line-height: 21px;
						text-transform: uppercase;

						@media (min-width: 768px) {
							font-size: 10px;
							margin-top: 20px;
						}
						@media (min-width: 1024px) {
							font-size: 10px;
						}
						@media (min-width: 1440px) {
							font-size: 13px;
						}
					}
				}

				@media (min-width: 320px) {
					display: none;
				}
				@media (min-width: 769px) {
					display: flex;
				}
			}
		}
	}

	section#download {
		text-align: center;
		font-family: Raleway;
		line-height: 21px;

		@media (min-width: 320px) {
			padding: 50px 0;
		}

		@media (min-width: 545px) {
			padding: 100px 0;
		}

		.download__title {
			font-weight: 300;
			font-size: 28px;
			line-height: 26px;
			
			@media (min-width: 320px) {
				font-size: 25px;	
			}

			@media (min-width: 545px) {
				font-size: 25px;	
			}
		}

		.download__subtitle {
			margin-top: 10px;
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
		}

		.download__button {
			@extend .Button-primary;
			margin-top: 32px;
		}
	}
}

footer {
	.footer__content {
		background-color: #3A3E64;
		min-height: 250px;

		.footer__content-block {
			padding-top: 66px;
			text-align: center;
			font-family: Raleway;
			font-size: 14px;
			color: #fff;

			> .content-block__title {
				font-weight: 600;
				text-transform: uppercase;
			}

			> .content-block__info {
				margin-top: 12px;
				line-height: 22px;
			}

			> .content-block__social-icons {
				@extend .SocialButtons;

				justify-content: center;
				margin-top: 20px;
				> a {
					border: 2px solid #fff;
					border-radius: 2px;

					&:not(:first-child) {
						margin-left: 4px;
					}
				}
			}

			&:last-child {
				padding-bottom: 50px;
			}
		}
	}

	> .footer__spacer {
		height: 96px;
		background-color: #313454;
	}
}



// slider
// .section-slider {

// }
// .slider-left, .slider-right {
//     width: 50%;
//     height: 500px;
// }
// .slider-left {

// }
// .left-item > img {
//     height: 500px;
//     width: auto;
// }
// .slider-right {
//     background: #53354A;
//     padding-left: 85px;
//     position: relative;
// }
// .item-right {
//     width: 68% !important;
//     text-align: justify;
// }
// .item-right > h2 {
//     font-family: Cardo;
//     font-style: italic;
//     font-weight: normal;
//     font-size: 36px;
//     line-height: 42px;
//     display: flex;
//     align-items: center;
//     color: #FFFFFF;
//     padding-bottom: 48px;
// }
// .item-right > h5 {
//     font-family: Raleway;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 13px;
//     line-height: 21px;
//     display: flex;
//     align-items: center;
//     text-transform: uppercase;
//     color: #FFFFFF;
// }
// .slick-dots {
//     position: absolute;
//     width: auto;
//     bottom: 20%;
// }

// .slick-dots > li > button::before {
//     width: 15px;
//     height: 15px;
//     background: #FFFFFF;
//     mix-blend-mode: normal;
//     opacity: 0.2;
//     border-radius: 50%;
//     color: transparent;
// }
// .slick-dots > li.slick-active > button::before {
//     color: transparent;
//     width: 15px;
//     height: 15px;
//     background: #FFFFFF;
// }
// slider